<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ticket details</h1>
    
    <h3></h3>
        <p>Type: <%= ticket.type%></p>
        <p>Subject: <%=ticket.Subject%></p>

          <form action="/ticket/<%= ticket._id%>?_method=DELETE" method="POST">
        <button>Delete </button>
    </form>

    
          <form action="/ticket/<%= ticket._id%>/update">
        <button>update</button>
    </form>
</body>
</html>